<div class="container-fluid">
    <div class="row">
        <img src="/assets/img/logo.jpg" class="logo">
    </div>
    <div class="row menu-row">
        <div class="col-md-4 current-menu">
            <h2>Current Menu</h2>
            {{#each current}}
                <p class="current-burgers">{{this.burger_name}}
                <form class="retire-form">
                    <input type="hidden" value="{{this.id}}" name="retBurgerId" id="retBurgerId">
                    <button type="submit" class="btn btn-default btn-sm remove-btn" aria-label="Remove">
                        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                    </button>
                </form>
                </p>
            {{/each}}
        </div>
        <div class="col-md-4 form-entry">
            <form class="create-form" method="post" action="/">
                <label for="burgerName">Enter a Burger Name</label><br>
                <input type="text" id="burgerName" name="burgerName">

                <button type="submit" class="submitButton">Add Burger</button>
            </form>
            <img src="/assets/img/gene.png" class="gene-img">
        </div>
        <div class="col-md-4 retired-menu">
            <h2>Retired Burgers</h2>
            {{#each retired}}
                <p class="retired-burgers">
                    {{this.burger_name}}
                </p>
            {{/each}}
        </div>
    </div>
</div>

<!--Sales Modal-->
<div class="modal fade" id="salesModal" tabindex="-1" role="dialog" aria-labelledby="salesModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="salesModalLabel"></h4>
            </div>
            <div class="modal-body">
                <form class="sales-form">
                    <input type="hidden" id="burgerId">
                    <label for="totalSales">Enter the number of burgers sold</label>
                    <input type="text" id="totalSales" name="totalSales">
                    <button type="submit" class="btn btn-default" id="retire-btn">Retire</button>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>
<!--End of Sales Modal-->

<script type="text/javascript">
    $(".remove-btn").on("click", function (event) {
        event.preventDefault();

        var burgerId = $("#retBurgerId").val();

        $.get("/" + burgerId)
                .done(function (data) {
                    console.log("Results:", data);

                    $("#salesModalLabel").html(data.burger_name);
                    $("#burgerId").val(burgerId);

                    $("#salesModal").modal('show');
                });
    });

    $("#retire-btn").on("click", function (event) {

        event.preventDefault();

        var burgerId = $('#burgerId').val();
        var sales = $('#totalSales').val().trim();

        $.ajax({
            url: "/" + burgerId + "/" + sales,
            method: "put",
            success: function (data) {

                console.log(data);
               window.location.href = data.redirect;
            }
        });


    })

</script>